.sidebar{
    position: fixed;
   width: 220px!important;
   height: 100%;
   z-index: 1;
   left: 0;
   background: white;
   overflow: hidden;
   font-family: Poppins-Regular;
   font-size: 13px;
}

.sideLink{
    padding-left: 20px;
    margin-bottom: 15px;
    line-height: 45px;
    font-family: Poppins-Regular;
}
